@import url("https://fonts.cdnfonts.com/css/liberation-sans");
@import url("https://fonts.cdnfonts.com/css/liberation-serif");
@import url("https://fonts.cdnfonts.com/css/liberation-mono");
@import "tailwindcss";

@theme {
  --font-sans: "Liberation Sans", sans-serif;
  --font-serif: "Liberation Serif", serif;
  --font-mono: "Liberation Mono", monospace;
  --color-milu-bg-400: #61a6ab;
}
