@import url("https://fonts.cdnfonts.com/css/liberation-sans");
@import url("https://fonts.cdnfonts.com/css/liberation-serif");
@import url("https://fonts.cdnfonts.com/css/liberation-mono");
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "Liberation Sans", sans-serif;
  --font-serif: "Liberation Serif", serif;
  --font-mono: "Liberation Mono", monospace;
  --color-milu-bg-400: #61a6ab;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Sfondo con immagine piena, copre tutto e resta centrata */
  background: url('/bg.png') no-repeat center center fixed;
  background: transparent !important;
}